*{
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body{
  background: #c0c0aa;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient( to left,#4dbaec,#dea4e0); */
}
div{
  text-align: center;
}
h1{
  background: linear-gradient( to left,#dadddf,#e4b7e6);;
  text-transform: capitalize;
  text-align: center;
  font-size: 3em;
  margin: 10px auto;
  padding: 8px;
}
p{
  background: linear-gradient( to left,#e189ec31,#cfe0f05b);
  font-size: 1.3em;
  margin: 20px 50px;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 10px;
}
img{
  margin: 0 auto;
  width: 25%;
}
@media screen and (max-width: 992px) {
  h1{
    background-color: lawngreen;
    font-size: 3.5em;
  }
  p{
    font-size: 1.2em;
    margin: 10px 25px;
    line-height: 1.6;
    
  }
  img{
    margin: 0 auto;
    width: 65%;
  }
  /* p{
    width: 80%;
  } */
}
@media screen and (max-width: 600px) {
  h1{
    font-size: 3.4em;
  }
  p{
    font-size: 1.2em;
    margin: 10px 25px;
    line-height: 1.5;
  }
  img{
    margin: 0 auto;
    width: 75%;
  }
  /* p{
    text-align: center;
    width: 80%;
  } */
}
